body{
  /* Background pattern from Subtle Patterns  
  https://www.toptal.com/designers/subtlepatterns*/
  background-image:url("../images/doodles.png");
  font-family:'Indie Flower', cursive;
}

h2{
  font-weight:bold;
  font-size:xx-large;
}

b{
  text-decoration: underline;
}
.jumbotron{
  background-color:darkblue;
  color:white;
}

#timer{
  color: darkorange;
}

#question{
  color:darkgreen;
}

#body-container{
  background-color:lavender;
}

input[type="radio"] {
  margin: 5px 10px;
  padding: 5px;
}

button{
  margin: 10px;
}

form{
  padding: 5px 5px 15px 5px;
}
